<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>{{task.title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <div class="container">

        <h3 style="font-size: 2rem; margin-top: 1rem; margin-bottom: .3rem;">{{task.title}}</h3>
        
        <form class="update-task_form" method="post" action="">
            {% csrf_token %} 
            <div>
                    <label for="">Title </label>{{form.title}}
                    <label for="">Description </label>{{form.description}}
                    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                        <label style="margin-right: 1rem;" for="">Completed: </label>{{form.completed}}
                    </div>
            </div>
            <input type="Submit" value="Edit Task" />
        </form>
        
    </div>

  </body>
</html>
